<div class="container">
    <div class="row">
        <div class="col">
            <div class="rectSmall">Kullanıcı Yönetimi</div>
        </div>
        <div class="col"></div>
        <div class="col">
            <div class="rectSmall">Kullanıcının Erişebileceği Pinlerin  Yönetimi</div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col"></div>
        <div class="col-8 rect">
            <div class="pin1"></div>
        </div>
        <div class="col"></div>
    </div>
</div>