<div class="container">
    <div class="row ">
        <div class="col" >
            <ul>
                <li >
                    <div class="ellipse" cdkDrag></div>
                </li>
                <li>
                    <div class="triangle-up"></div>
                </li>
                <li>
                    <div class="rectangle"></div>
                </li>
            </ul>
        </div>
        <div class="col-8 rect">
            <div class="pin1"></div>
            <div class="pin1"></div>
            <div class="pin1"></div>
        </div>
        <div class="col" >
        </div>
    </div>
</div>